<section>
    <mat-card >
        <mat-card-content fxLayout="row">

            <div class="assessment-banner" fxLayout="column" >
                <div class="assessment-banner-title">
                    <h1>Take Assessment to know Your</h1><br>
                    <h2>Covid-19 Risk</h2>
                </div>
                <div class="assessment-banner-desc" >
                    <p> Lorem ipsum, or lipsum as it is sometimes known,
                        is dummy text used in laying out print, graphic or
                        web designs. The passage is attributed to an unknown
                        typesetter in the 15th century who is thought to have
                        scrambled parts of Cicero's De Finibus Bonorum et
                        Malorum for use in a type specimen book
                    </p>
                </div>
            </div>
            <div>
                
                    <div class="assessment-banner-image">
                        <img src="/assets/covid-19-banner.png" alt="image">
                    </div>
            
            </div>
        </mat-card-content>
      
                <div class="assessment-banner-btn">
                    <button mat-flat-button color="primary" (click)="goto()">Take Assessment</button>
                </div>
        
    </mat-card>

</section>
