
<div class="sh-u-container">
    
    <mat-card class="welcome-page">
        <mat-card-content class="wel-come">
            <h1>Welcome!...</h1>
        </mat-card-content>
        <button mat-flat-button color="primary" routerLink="userList">View UsersList</button>
        <!-- <button mat-flat-button color="primary" routerLink="addUser">Add User</button> -->
    </mat-card>
  
</div>



  
<div >

    <div >
      <p >
        <span >Name: </span>{{userDetails?.name}}
      </p>
  
      <p >
        <span >Email: </span>{{userDetails?.email}}
      </p>
  
      <button  (click)="signOut()">Sign out</button>
  
    </div>
  
  </div>