<section>
    <mat-toolbar color="primary" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="82"><span>Angular Learning App</span></div>
        <div fxFlex="18" fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-icon-button>Home</button>
            <button mat-icon-button>Contact Us</button>
            <button mat-icon-button class="example-icon" (click)="logout()">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</section>