
<div class="sh-u-container">
    <section class="sign-in-section">
        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
            <mat-card class="signin-card">
                <mat-card-title>Sign In</mat-card-title>
                <div class="signin-content">
                    <mat-card-content fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" formControlName="userName" />
                            <mat-error *ngIf="signInForm.get('userName').invalid" class="err-msg">Username is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password">
                            <mat-error *ngIf="signInForm.get('password').invalid" class="err-msg">password is required
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </div>
                    <div class="forgot-btn"  >
                       
                        <a routerLink="../forgot-password">Forgot Password</a>
                    </div>
                <button type="submit" mat-flat-button color="primary" class="signin-btn">Sign In</button>
                <button (click)="signInHandler()" mat-flat-button class="google-signin-btn"><img src="./assets/google.jpg"></button>
                <button (click)="signInFace()" mat-flat-button class="google-signin-btn"><img src="./assets/facebook.png">facebook signin</button>
                <button (click)="signInHandler()" mat-flat-button class="google-signin-btn"><img src="./assets/linked in.png"></button>
                <div class="create-new-account">
                    <a routerLink="../sign-up">Don't have an account? Create New Account</a>
                </div>

            </mat-card>
        </form>
    </section>
</div>