.sh-u-container {
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: rgb(235, 235, 235);
    padding-top: 10%;
    .assessment-section{
      width: 40%;
      margin: auto;
      .mat-card-title {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }