.sh-u-container {
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: rgb(248, 245, 245);
    padding-top: 10%;
    .forgot-password-section {
      width: 40%;
      margin: auto;
      .mat-card-title {
        text-align: center;
        margin-bottom: 20px;
      }
      .chng-pwd-btn {
        width: 100%;
        padding: 5px;
        font-size: 16px;
      }
      .err-msg {
        font-size: 13px;
      }
    }
  }