
<div class="sh-u-container">
    <section class="forgot-password-section">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="changePassword()" >
            <mat-card class="forgot-card">
                <mat-card-title>Change Password</mat-card-title>
                <div class="forgot-password-content">
                    <mat-card-content fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" formControlName="newPassword" />
                            <mat-error *ngIf="forgotPasswordForm.get('newPassword').invalid" class="err-msg">New password is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm new Password</mat-label>
                            <input matInput type="password" formControlName="confirmPassword">
                            <mat-error *ngIf="forgotPasswordForm.get('confirmPassword').invalid" class="err-msg">confirm password is required
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </div>
                <button type="submit" mat-flat-button color="primary" class="chng-pwd-btn">Change Password</button>
            </mat-card>
        </form>
    </section>
</div>
