<div class="sh-u-container">
    <mat-card class="userList-page">

        <div class="userList-action-btn" fxLayout="row" fxLayoutAlign="space-between center">
            <span>
                <h1>UsersList</h1>
            </span>
            <button color="primary" mat-raised-button routerLink="addUser">Add New user</button>
        </div>
        <table class="userList-box">


            <tbody>
                <tr>
                    <th>Mobile</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let user of usersListData">

                    <td>{{user.phone_Number}} </td>
                    <td>
                        18.02.2022
                    </td>
                    <td>
                        18.02.2022
                    </td>
                    <td>
                        <div fxLayout="row" fxLayoutGap="15px">
                            <mat-icon color="primary" >visibility</mat-icon>
                            <mat-icon color="primary" (click)="updateData(user)" routerLink="adaUser"> edit</mat-icon>
                            <mat-icon color="primary" (click)="removeData(user)">delete</mat-icon>
                        </div>
                    </td>

                </tr>
            </tbody>

        </table>

        <button mat-flat-button color="primary" routerLink="/">Back</button>
    </mat-card>
</div>