.footer-section{
    padding: 10px 15px;
   background-color:#f0ebeb;
   color: #444343;
    .footer-content{
        div{
            p{
                opacity: 0.7;
            }
        }
    }

    .copy-rights-content{
        margin-top: 10px;
        opacity: 0.3;
    }
}