<section class="footer-section" fxLayout="column" >
    <div class="footer-content" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center" >
        <div fxFlex="25">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum, or lipsum as it is sometimes known, 
                is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century
                who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. 
            </p>
        </div>
        <div fxFlex="25">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum, or lipsum as it is sometimes known, 
                is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century
                who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. 
            </p>
        </div>
        <div fxFlex="25">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum, or lipsum as it is sometimes known, 
                is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century
                who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. 
            </p>
        </div>
        <div fxFlex="25">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum, or lipsum as it is sometimes known, 
                is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century
                who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. 
            </p>
        </div>
    </div>
    <div class="copy-rights-content" fxLayout="row" fxLayoutAlign="center center">
        <span> All copyrights resserved SampleApp.com @ 2022</span>
    </div>
</section>
